* {
  &::selection {
    color: white;
    background: $accent;
  }
}

body {
  @include reg;
  // color: white;
  line-height: 1.5em;
  font-size: size(20, 16);
  color: #131116;
  overflow: hidden;
  height: 100vh;
  background-color: #d7d8dd;
  font-family: Helvetica;
}

#scroll-container {
  overflow-y: auto;
  overflow-x: hidden;
  height: 100vh;
}

#gl {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  // pointer-events: none;
}

.first-screen {
  width: 100%;
  height: 100vh;
  background-color: #131116;
  z-index: 1;
  position: relative;
  #gl {
    z-index: -1;
    height: 100vh;
  }
  .ui {
    background-image: url('../img/ui.png');
    background-position: 0 100%;
    height: 100%;
    width: 100%;
    z-index: 1;
    @include media('<=460px') {
      display: none;
    }
  }
}
